body {
    padding: 10px;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 105px;
    color: rgb(0, 0, 0);
}

input {
    border-radius: 5px;
    width: 200px;
    height: 25px;
}

button {
    width: 180px;
    height: 35px;
}

#rodape {
    display: flex;
    position: fixed;
    color: white;
    align-items: center;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

.links { 
    width: 300px; 
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    justify-content: space-around;
}