body {
    padding: 30px;
    background-image: url(bg.png);
    background-size: cover;
    position: relative;
    margin-top: 105px;
    color: white;
    height: 100vh;
    width: 100vw;
}

h1 {
    text-align: center;
}

#nome {
    border-radius: 5px;
    width: 500px;
}

.aluno_lista {
    margin-top: 30px;
    text-align: center;
}

.bts {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#rodape {
    display: flex;
    padding: 0;
    background-color: white;
    align-items: center;
    bottom: 0;
    width: 100%;
    justify-content: center;
    background-size: cover;
    position: relative;
}

.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: gray; /* substitua pela imagem real */
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
}

.profile-name {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
}