<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS do projeto que está dentro da pasta STATIC/CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <!-- Ícone da página -->
    <link rel="icon" href="{{ url_for('static', filename= 'favicon.png') }}">
    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Página Inicial</title>
</head>
<body>
  <div>
    <div class="card text-bg-dark mb-3">
      <form action="/prova" method="POST" id="form-cadastrar">
        <div class="card-header"><strong>Área do Aluno</strong></div>
        <div class="card-body">
          <div>
            {% if sexo_aluno == 'Masculino' %}
              <div class="profile-img" style="background-image: url('./static/masculino.png')"></div>
            {% else %}
              <div class="profile-img" style="background-image: url('./static/feminino.png')"></div>
            {% endif %}
              <h2 class="profile-name">Olá, {{ nome_aluno }}!</h2>
          </div>
          <br>
          <p class="card-text">
            <div class="form-check">
              <p>
                <label for="nome">Deseja realizar sua avaliação?</label>
              </p>
              <div class="form-check">
                <label for="nome">Selecione abaixo a disciplina que deseja realizar à avaliação:</label>
                <select class="form-select" aria-label="Default select example" style="width: 15rem;" id="prova" name="prova">
                  {% for prova in provas_disponiveis %}
                    <option  id="prova" name="prova" value="{{ prova[1] }}">{{ prova[1] }}</option>
                  {% endfor %}
                </select>
                <br>
                <div class="bts"></div>
                <div>
                  <p>
                    <button type="submit" class="btn btn-success" form="form-cadastrar">Fazer prova</button>
                  </p>
                </div>
                <div>
                  <p>
                    <td><a href='/atualizarusuario/{{ id_aluno }}' class="btn btn-info">Alterar cadastro</a></td> <!-- Botão de Alterar Senha -->
                  </p>
                </div>
              <div>
                <a href="/" class="btn btn-danger">Sair</a>
              </div>
            </div>
            </div>
          </p>
          </div>
        </div>
      </form>
    </div>
  </div>
    <!-- Script de JavaScript para Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>
</html>