<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS do projeto que está dentro da pasta STATIC/CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <!-- Ícone da página -->
    <link rel="icon" href="{{ url_for('static', filename= 'favicon.png') }}">
    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Registrar-se</title>
</head>
<body>
    <div class="card text-bg-dark mb-3">
      <form action="/registrarse" method="POST" id="form-cadastrar">
        <div class="card-header"><strong>Registrar-se</strong></div>
          <div class="card-body">
            <p class="card-text">
              <div class="form-check">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" required> <!-- "required" faz a verificação se o campo foi preenchido -->
              </div>
              <br>
              <div class="form-check">
                <label for="nome">Usuário</label>
                <input type="text" class="form-control" id="usuario" name="usuario" style="width: 15rem;" required>
                {% if erro_usuario %}
                <font color="red">{{ erro_usuario }}</font>
                <img src="{{ url_for('static', filename='errado.jpg') }}" class="rounded" height="15" width="15">
                {% endif %}
              </div>
              <br>
              <div class="form-check">
                <label for="nome">Senha</label>
                <input type="password" class="form-control" id="senha" name="senha" style="width: 15rem;" required>
                {% if erro_senha %}
                <font color="red">{{ erro_senha }}</font>
                <img src="{{ url_for('static', filename='errado.jpg') }}" class="rounded" height="15" width="15">
                {% endif %}
              </div>
              <br>
              <div class="form-check">
                <label for="nome">Confirmar Senha</label>
                <input type="password" class="form-control" id="confirmar_senha" name="confirmar_senha" style="width: 15rem;" required>
                {% if erro_senha %}
                <font color="red">{{ erro_senha }}</font>
                <img src="{{ url_for('static', filename='errado.jpg') }}" class="rounded" height="15" width="15">
                {% endif %}
              </div>
              <br>
              <div class="form-check">
                <label for="nome">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" style="width: 15rem;" required>
                {% if erro_email %}
                    <font color="red">{{ erro_email }}</font>
                    <img src="{{ url_for('static', filename='errado.jpg') }}" class="rounded" height="15" width="15">
                {% endif %}
              </div>
              <br>
              <!-- <div class="form-check">
                <label for="nome">Tipo</label>
                <select class="form-select" aria-label="Default select example" style="width: 15rem;" id="tipo" name="tipo">
                  <option  id="tipo" name="tipo" value="Aluno">Aluno</option>
                  <option  id="tipo" name="tipo" value="Administrador">Administrador</option>
                </select>
              </div> -->
            </p>
          </div>
        </div>
        <div class="bts">
          <div>
            <button type="submit" class="btn btn-dark" form="form-cadastrar">Cadastrar</button>
          </div>
          <div>
            <a href="/" class="btn btn-dark">Volta</a>
          </div>
        </div>
      </form>
    </div>
    <!-- Script de JavaScript para Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>
</html>